@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');



* {
  margin: 0;
  padding: 0;
  font-family: 'Rajdhani', sans-serif;
  color: lightgray;

}

#root {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

}
body {
  margin: 0;
  background-image: url(/Users/ashh/sei/projects/react-weather-app/src/images/beautiful-aerial-shot-forest-enveloped-creepy-mist-fog_181624-2659.webp);
  background-size: cover;
  background-repeat: no-repeat;
  width: 200px;
  height: 100vh;
  font-family: 'Rajdhani', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightslategray;

  

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

 .App {
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  text-align: center;
  margin:0 auto;
  padding: 100px;
  background-color: rgb(0, 0, 0, 0.3);
  background-image: linear-gradient(rgb(0, 0, 0, .5),rgb(0,0,0,0.01))


 }


 .title {
  padding: 20px;
  
 }

 Weather {
  padding: 200px;
 }

 li {
  list-style: none;
  text-align: left;
 }

 .searchButton {
  color:black;
 }

 .searchBar {
   color: black;
 }

 .forecastButton {
    color: black;
    width: 200px;
    padding: 5px, 50px, 5px, 50px ;
  }
 
 button {
  margin: 20px;
 }